@model PagedList.IPagedList<LocalTheatre.Models.ExpandedUser>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Roles";
}

<br />
<p>
    @Html.ActionLink("Create User", "Create", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Create Role", "AddRole", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit Role", "ViewAllRoles", null, new { @class = "btn btn-default" })
</p>
<br />
@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{

    <div class="form-group">
        Search:&nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)

        <input type="submit" value="Search" />
    </div>
}
<br />

<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Locked Out
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }) |
                @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                {
                    @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
                    new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                }
            </td>
        </tr>
    }


</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new { page,
        searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
        currentFilter = ViewBag.CurrentFilter }))
<hr />
