@model IEnumerable<LocalTheatre.Models.Announcements>

@{
    ViewBag.Title = "Announcements";
}

<style>
    .wrapper > div{
        background:#aaa;
        padding: 1em;
    }

    .wrapper{
        display:grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }


    .fakeimg {
        width: 25em;
        height: 15em;
        border:solid;
        background: #4cff00;
    }
</style>

<br />


@foreach (var item in Model)
{
<div class="wrapper">
    <div>
        <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
        <h3>By - @Html.DisplayFor(modelItem => item.Author)</h3>
        <p>@Html.DisplayFor(modelItem => item.Announcement)</p>
        <p>@Html.DisplayFor(modelItem => item.Date)</p>
        @Html.ActionLink("View Post", "ViewAnnouncement", new { id = item.AnnouncementId }, new { @class = "btn btn-danger" })
    </div>
</div>
        
            

}



