@using LocalTheatre.Models
@using Microsoft.AspNet.Identity
@model LocalTheatre.ViewModels.DisplayViewModel
@{
    ViewBag.Title = "View Post";
}

<style>
    .wrapper > div {
        background: #aaa;
        padding: 1em;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

    .fakeimg {
        width: 25em;
        height: 15em;
        border: solid;
        background: #4cff00;
    }
</style>


<a href="javascript:void(0);" class="btn btn-default" onclick="history.go(-1);">Back</a></p>

<div class="wrapper">
    <h1>@Model.Announcements.Title</h1>
    <h3>@Model.Announcements.Author</h3>
    <p>@Model.Announcements.Announcement</p>
    <p>@Model.Announcements.Date.ToShortDateString()</p>
</div>


<h3>Comments</h3>
@if (Model.Announcements.Comments.Count > 0)
{
    foreach (var comment in Model.Announcements.Comments)
    {
        <div class="comment">
            <p>@comment.CommentBody</p>
            <p>Posted by <strong> @comment.CommentAuthor</strong> on @comment.CommentDate.ToString("D") at @comment.CommentDate.ToShortTimeString()</p>

            @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
            {
                @Html.ActionLink("Remove", "Delete", "Comments", new { id = comment.CommentId }, null)


            }
        </div>
        <hr />
    }
}
else
{
    <p>No comments yet!</p>
}

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add Comment", "Create", "Comments", new { AnnouncementId = Model.AnnouncementId }, new { @class = "btn btn-danger" })
}
else
{
    @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-danger" })
}